! ---
! Lucys Dotfiles
! https://github.com/lucyy-mc/dotfiles-new
! .Xresources
! ---

! special
*.foreground:   #f7e6ff
*.background:   #D9172035
*.cursorColor:  #f7e6ff

! black
*.color0:       #45454d
*.color8:       #797380

! red
*.color1:       #b35959
*.color9:       #ff9999

! green
*.color2:       #59b386
*.color10:      #99ffcc

! yellow
*.color3:       #cc8e5c
*.color11:      #ffcc99

! blue
*.color4:       #5974b3
*.color12:      #99b8ff

! magenta
*.color5:       #ab59b3
*.color13:      #f799ff

! cyan
*.color6:       #59b3b3
*.color14:      #99ffff

! white
*.color7:       #998a99
*.color15:      #f7e6ff

URxvt.font:	xft:JetBrains Mono:size=10
URxvt.scrollBar: 	false
URxvt.iso14755: 	false
URxvt.iso14755_52:	false
URxvt.internalBorder:  	8

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt*depth: 32
URxvt*background: [85]#172035

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
